@use "../../styles/" as *;

.InputBox {
	.InputBox__label {
		white-space: nowrap;
	}
	.InputBox__input {
		@include displayFlex("regular", 0.5rem);
		font-family: "Lato", sans-serif;

		@include objSize(2.2rem, 100%, 5px);
		outline: none;

		padding: 0.5rem 1rem;

		border: 1px solid $darkblue;
		color: $black;

		box-shadow: $shadow;

		&::placeholder {
			color: $black-50;
		}
	}

	.InputBox__select {
		padding: 0 1rem;
	}
	.InputBox__error-messsage {
		margin: 0.3rem 0 0 0.5rem;
		font-size: 0.8rem;
		color: $red;
	}
	.InputBox__textarea {
		@include displayFlex("regular", 0.5rem);
		font-family: "Lato", sans-serif;

		@include objSize(fit-content, 100%, 5px);
		outline: none;

		padding: 0.5rem 1rem;

		border: 1px solid $darkblue;
		color: $black;

		box-shadow: $shadow;

		&::placeholder {
			color: $black-50;
		}
	}
}

.InputBox--disabled {
	.InputBox__input {
		border: 1px solid $black-50;
	}
	.InputBox__label {
		color: $black-50;
	}
}
