$blue: #1e68f7;
$darkblue: #1750bf;
$lightblue: #709ffb;
$satblue: #dee9ff;

$green: #1ef726;
$darkgreen: #17bf1e;
$lightgreen: #70fa76;
$satgreen: #b2ffb6;

$red: #ff2121;
$lightred: #fa7070;
$satred: #ffb2b2;

$black: #343538;
$black-90: #494a4d;
$black-75: #67686a;
$black-50: #999a9b;
$black-25: #cccccd;
$black-10: #ebebec;
$black-5: #f5f5f5;
$white: #fff;
